h1{font-size:138.5%;}
h2{font-size:123.1%;}
h3{font-size:108%;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong{font-weight:bold;}
abbr,acronym{border-bottom:1px dotted #000;cursor:help;}
em{font-style:italic;}
blockquote,ul,ol,dl{margin:1em;}
ol,ul,dl{margin-left:2em;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
a,a:visited{text-decoration:none;color:#222;}
dl dd{margin-left:1em;}
th,td{border:1px solid #000;padding:.5em;}
th{font-weight:bold;text-align:center;}
caption{margin-bottom:.5em;text-align:center;}
p,fieldset,table,pre{margin-bottom:1em;}
input[type=text],input[type=password],textarea{width:12.25em;*width:11.9em;}
.hidden{display:none !important;visibility:hidden;}
.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
@font-face{font-family:'Molengo';font-style:normal;font-weight:400;src:local('Molengo'),local('Molengo-Regular'),url(http://themes.googleusercontent.com/static/fonts/molengo/v4/2v3ScQ0eE96oPRRr3d-FjgLUuEpTyoUstqEm5AMlJo4.woff) format('woff');}@font-face{font-family:'Josefin Sans';font-style:normal;font-weight:400;src:local('Josefin Sans'),local('JosefinSans'),url(http://themes.googleusercontent.com/static/fonts/josefinsans/v3/xgzbb53t8j-Mo-vYa23n5qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');}::-webkit-scrollbar{height:16px;overflow:visible;width:12px;}
::-webkit-scrollbar-thumb{background-color:rgba(0, 0, 0, 0.2);background-clip:padding-box;border:none;min-height:28px;padding:100px 0 0;box-shadow:inset 1px 1px 0 rgba(0, 0, 0, 0.1),inset 0 -1px 0 rgba(0, 0, 0, 0.07);}
::-webkit-scrollbar-button{height:0;width:0;}
::-webkit-scrollbar-track{background-color:#f5f5f5;background-clip:padding-box;border:solid transparent;border-width:0 0 0 1px;border-left-color:#DAD4D4;}
::-webkit-scrollbar-corner{background:transparent;}
html{font-family:Molengo,'Josefin Sans',sans-serif,'微软雅黑','仿宋';font-size:12px;line-height:150%;}
body{width:100%;min-width:320px;height:100%;overflow-x:hidden;overflow-y:scroll;-webkit-font-smoothing:antialiased;}
#header{width:100%;font-size:16px;text-align:left;background-color:#fff;border-bottom:1px solid #dad4d4;overflow:hidden;position:relative;top:0;z-index:10;}#header>.d-f{line-height:48px;}
#header .title{width:100%;height:50px;font-size:26px;position:relative;}#header .title .logo{width:140px;height:50px;line-height:50px;color:#adabab;overflow:hidden;position:relative;}#header .title .logo .logo-b{width:110px;padding:0 20px;text-align:center;position:absolute;}
#header .title #search{width:600px;}
#header .title .tip{min-width:150px;padding:0 20px;font-size:16px;color:#adabab;text-align:right;vertical-align:top;}
#header .navbar{width:100%;height:50px;line-height:50px;text-align:center;background-color:#f5f5f5;position:relative;-webkit-transition:all 0.5s ease-in;-moz-transition:all 0.5s ease-in;-o-transition:all 0.5s ease-in;-ms-transition:all 0.5s ease-in;transition:all 0.5s ease-in;-webkit-transition-property:margin, opacity;-moz-transition-property:margin, opacity;-ms-transition-property:margin, opacity;-o-transition-property:margin, opacity;transition-property:margin, opacity;-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;}#header .navbar .navb{margin:0 auto;display:inline-table;white-space:nowrap;}
#header .navbar .hbtn{width:70px;height:30px;padding:0 10px;line-height:30px;margin:10px;cursor:pointer;opacity:0;position:absolute;left:-100px;z-index:11;-webkit-transition:all 250ms linear;-webkit-transition-property:none;}#header .navbar .hbtn .fts-b{font-size:18px;font-weight:900;}
#header .navbar #sib{opacity:0;position:absolute;right:-50px;top:0;z-index:11;-webkit-transition:all 250ms linear;-webkit-transition-property:none;}
.nav{max-width:100px;min-width:30px;height:46px;line-height:46px;margin:0 20px;color:#adabab;display:inline-block;border-bottom:2px solid #f5f5f5;text-decoration:none;cursor:pointer;position:relative;-webkit-transition:all .5s ease;-webkit-transition-property:margin,border-color;}.nav.ac{border-color:#437fed;color:#000;}
.nav:visited{color:#adabab;}
.nav:hover{border-color:#437fed;color:#737373;}
.nav.nms{display:none;}
.nav .db{display:none;}
#search{min-width:120px;height:50px;line-height:48px;position:relative;}#search .hw{width:100%;height:30px;padding-top:10px;line-height:28px;position:absolute;top:0;}#search .hw form{width:100%;}
#search .fw{position:absolute;left:0;right:0;}
#search .fb{cursor:default!important;}
body.hg #header{height:50px;position:fixed;}body.hg #header .title{display:none;}
body.hg #header .navbar{background-color:#fff;}body.hg #header .navbar .nav{border-color:#fff;}body.hg #header .navbar .nav.ac,body.hg #header .navbar .nav:hover{border-color:#437fed;}
body.hg #header .navbar .hbtn{background-color:#f5f5f5;left:0;opacity:1;-webkit-transition-property:left, opacity;}
body.hg #header .navbar #sib{right:0;opacity:1;-webkit-transition-property:right, opacity;}
body.hg #content{margin-top:100px;}
#content{width:100%;height:100%;padding-top:1px !important;background-color:#fff;}#content .mw{max-width:1190px;clear:both;position:relative;}
#content #srl{width:568px;margin:0 100px;display:inline-block;position:relative;}#content #srl td,#content #srl th{border:none;}
#content #scol{width:30%;min-width:300px;margin-left:768px;display:inline-block;vertical-align:top;position:relative;}
.coll{width:0;float:left;}
.colr{width:100%;float:right;}
.bs-b-b{-webkit-box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.25);}
.bs-b-m{-webkit-box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.2);}
.bs-b-s{-webkit-box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.05);box-shadow:0 2px 4px 0 rgba(0, 0, 0, 0.05);}
.bs-w-s{-webkit-box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.05);box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.05);}
.bs-w-m{-webkit-box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.2);box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.2);}
.bs-w-b{-webkit-box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.25);box-shadow:0 0px 4px 0 rgba(0, 0, 0, 0.25);}
.fcl-b{color:blue;}
.fcl-g{color:green;}
.fcl-r{color:red;}
.fcl-y{color:orange;}
.fi-wb{width:100%;height:100%;border:1px solid #cdcdcd;border-color:rgba(0, 0, 0, 0.15);border-right-width:0;-webkit-box-sizing:border-box;box-sizing:border-box;background-clip:padding-box;}.fi-wb:hover,.fi-wb:active,.fi-wb:focus{border-color:#4285f4;}
.fi-w{height:100%;padding:0 8px;cursor:text!important;}
.fi{width:100%;height:20px;background:transparent;border:none;outline:none;margin-top:4px;padding:0;vertical-align:top;color:#222;font:16px arial,sans-serif;}
.fb{height:30px;width:50px;outline:none;padding:0 0;border:none;border-bottom-left-radius:0;border-top-left-radius:0;-webkit-box-shadow:none;box-shadow:none;cursor:pointer!important;display:inline-block;font-weight:bold;text-align:center;text-decoration:none!important;-webkit-border-radius:2px;border-radius:2px;-webkit-user-select:none;background:#4285f4;background:-webkit-linear-gradient(top, #4387fd, #4683ea);background:linear-gradient(top, #4387fd, #4683ea);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=1);}
.f-fb{width:50px;height:50px;outline:none;padding:0 0;border:none;-webkit-box-shadow:none;box-shadow:none;font-weight:bold;text-align:center;text-decoration:none!important;-webkit-border-radius:0;border-radius:0;-webkit-user-select:none;background:#4285f4;background:-webkit-linear-gradient(top, #4387fd, #4683ea);background:linear-gradient(top, #4387fd, #4683ea);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4387fd, endColorstr=#4683ea, GradientType=1);position:absolute;right:0;top:0;}
.fb-w{vertical-align:top;}
.f-i{width:20px;height:20px;vertical-align:middle;display:inline-block;background:transparent url("../images/nav_logo168.png") no-repeat 0 0;}.f-i.f-i-s{background-position:-20px 3px;}
.d-f{white-space:nowrap;margin-right:0;font-size:0;display:-webkit-flex;display:flex;}.d-f .d-f0{display:inline-block;-webkit-flex:0 0 auto;flex:0 0 auto;}
.d-f .d-f1{display:inline-block;-webkit-flex:1 1 auto;flex:0 1 auto;}
.d-f .d-f2{display:inline-block;-webkit-flex:2 2 auto;flex:0 2 auto;}
