#progress {
    width:0;
    height:1px;
    background:#b91f1f;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    position:fixed;
    top: 0;
    left: 0;
    z-index:10;
    -moz-transition:width 200ms ease-out,opacity 400ms linear .2s;
    -ms-transition:width 200ms ease-out,opacity 400ms linear .2s;
    -o-transition:width 200ms ease-out,opacity 400ms linear .2s;
    -webkit-transition:width 200ms ease-out,opacity 400ms linear .2s;
    transition:width 200ms ease-out,opacity 400ms linear .2s;
    -webkit-user-select: none;
}
#progress.done {
    opacity:0
}
#progress.titled:before {
    content: attr(data-title);
    height: 50px;
    font: 100 18px/50px "微软雅黑", "仿宋", 'HelveticaNeue-Light', arial;
    position: absolute;
    top: -40px;
    left: 10px;
}
#progress .filler{
    width: 0;
    height: 1px;
    background:#b91f1f;
    -moz-border-radius:1px;
    -webkit-border-radius:1px;
    border-radius:1px;
    position: absolute;
    left: 99.9%;
}

#progress.waiting:after{
    -moz-animation:pulse 2s ease-out 0s infinite;
    -ms-animation:pulse 2s ease-out 0s infinite;
    -o-animation:pulse 2s ease-out 0s infinite;
    -webkit-animation:pulse 2s ease-out 0s infinite;
    animation:pulse 2s ease-out 0s infinite;
}
@-webkit-keyframes during{
    0%  {width: 0;}
    100%{width: 9.5%;}
}
@-webkit-keyframes increase {
	0%{width: 0%;}
	100%{width: 101%;}
}
@-moz-keyframes pulse {
    30% {
        opacity:1
    }
    60% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
@-ms-keyframes pulse {
    30% {
        opacity:.6
    }
    60% {
        opacity:0
    }
    100% {
        opacity:.6
    }
}
@-o-keyframes pulse {
    30% {
        opacity:1
    }
    60% {
        opacity:0
    }
    100% {
        opacity:1
    }
}
@-webkit-keyframes pulse {
    30% {
        opacity:.6
    }
    60% {
        opacity:0
    }
    100% {
        opacity:.6
    }
}
@keyframes pulse {
    30% {
        opacity:1
    }
    60% {
        opacity:0
    }
    100% {
        opacity:1
    }
}