<style type="text/css">
	body.hg #header .title{display:inline-table;}
	body.hg #content{margin-top:0;}
	#header {height: 50px;position:fixed;}
	#header .navbar{display:none;}
	#content{padding-top:50px !important;}
</style>
<div class="mw">
	<div class="coll">
		<div id="srl">
			<script>
			  (function() {
			    var cx = '011218913520857214525:vrpgkkqs9js';
			    var gcse = document.createElement('script');
			    gcse.type = 'text/javascript';
			    gcse.async = true;
			    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
			        '//www.google.com/cse/cse.js?cx=' + cx;
			    var s = document.getElementsByTagName('script')[0];
			    s.parentNode.insertBefore(gcse, s);
			  })();
			</script>
			<gcse:searchresults-only gname="storesearch"></gcse:searchresults-only>
		</div>
	</div>
	<div class="colr">
		<div id="scol">
			<h2>＊＊＊＊＊＊＊＊＊搜索页侧栏＊＊＊＊＊＊＊＊</h2>
			<h2>{{message}}</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
			<h2>搜索页侧栏推荐文章列表</h2>
		</div>
	</div>
</div>